.page-member-stats {
  .level-distribution {
    .level-row {
      display: flex;
      align-items: center;
      margin-bottom: 8px;

      .level-name {
        width: 90px;
        flex-shrink: 0;
      }
      .level-bar {
        flex: 1;
      }
    }
  }
}
