# 应用配置
NODE_ENV=development

# JWT
JWT_SECRET=super-tool-jwt-secret-2026

# MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=superadmin_db
DB_USER=root
DB_PASS=123456

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASS=123456

# 微信小程序
WECHAT_MP_APPID=
WECHAT_MP_SECRET=

# 微信公众号(H5)
WECHAT_H5_APPID=
WECHAT_H5_SECRET=

# 微信开放平台(APP)
WECHAT_OPEN_APPID=
WECHAT_OPEN_SECRET=

# 短信服务（mock | tencent | aliyun）
SMS_PROVIDER=mock
SMS_TENCENT_SECRET_ID=
SMS_TENCENT_SECRET_KEY=
SMS_TENCENT_SDK_APP_ID=
SMS_TENCENT_SIGN_NAME=
SMS_TENCENT_TEMPLATE_ID=
