node_modules
dist
.umi
.umi-production
coverage
*.min.js

**/*.md
**/*.svg
**/*.ejs
**/*.html
package.json
package-lock.json
.umi
.umi-production
.umi-test
!.umirc.ts
.eslintrc.js
tsconfig.json
**/proto/*.js